<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-b7wRduWiGKjO0OQksyW_ihwm5uW4CDo</string>
	<key>GCM_SENDER_ID</key>
	<string>608832209906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nine.TodoCalendar</string>
	<key>PROJECT_ID</key>
	<string>todocalendar-316a8</string>
	<key>STORAGE_BUCKET</key>
	<string>todocalendar-316a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608832209906:ios:884660d3cfb6072c13616b</string>
</dict>
</plist>